---
import FormularioCorreo from '../components/FormularioCorreo.tsx';
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Correo Masivo</title>
  </head>
  <body>
    <h1>Envío de correos masivos</h1>
    <FormularioCorreo client:load />
  </body>
</html>